h1,
h5 {
  text-transform: uppercase;
}

h2 {
  color: #596aca;
}

#celsius,
#fahrenheit {
  font-size: smaller;
}

#forecast {
  text-transform: uppercase;
}

.blurb {
  font-size: 12px;
}

.weather-app {
  max-width: 550px;
  margin: 0 auto;
  padding: 33px 66px;
  border-radius: 5px;
  border: 3px solid #596aca;
}

a {
  text-decoration: none;
  color: #596aca;
}
